<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="index.css" />
        <link rel="stylesheet" href="../core/main.css" />
        <script src="https://kit.fontawesome.com/35c503f1b7.js" crossorigin="anonymous"></script>
    </head>
    <!-- Хуудасны толгой хэсэг -->        
    <header class="navbar navbar-expand-lg nav-header sticky-top color-yellow shadow-sm">
        <nav class="d-flex w-100 justify-content-between ps-3">
            <div class="navbar-left">
                <a class="navbar-brand d-flex align-items-center" href="../layout/layout.html">
                    <img
                        src="../images/cafe_logo2.png"
                        width="50"
                        height="50"
                        alt="Logo"
                        class="d-inline-block align-text-top circular-image"
                    />
                    <label class="logo-text text-red fs-3">카페로</label>
                </a>
            </div>
            <div class="navbar-right">
                <div class="menu-btn mr-20">
                    <a class="text-white fs-4" href="../login/login.html">로그인</a>
                </div>
                <div class="menu-btn">
                    <div class="dropdown">
                        <button class="circular-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-items">
                            <li><a class="dropdown-item" href="#">인터뷰</a></li>
                            <li><a class="dropdown-item" href="#">카페 등록요청</a></li>
                            <li><a class="dropdown-item" href="#">문의사항</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#">마이페이지</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</html>