.info_container {
    max-width: 900px;
    padding: 120px 20px;
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;
    color: #777;
    font-weight: 500;
}

.info_container p {
    margin: 0.2em 0;
}
